<footer class="sectionGrid" style="background-color:#444">

	<div>
		<h3>Social Networks</h3>
		<ul class="horizontal">
			<li><a title="Twitter" rel="noopener noreferrer" href="https://twitter.com/grabbeltuch" target="_blank">
				
				{% include icons/twitter.html color="#fff" %}
			</a></li>
			<li><a title="LinkedIn" rel="noopener noreferrer" href="https://www.linkedin.com/company/grabbeltuch/" target="_blank">
				{% include icons/linkedin.html color="#fff" %}

			</a></li>
			<li>
				<a title="Facebook" rel="noopener noreferrer" href="https://www.facebook.com/grabbeltuch/" target="_blank">

				{% include icons/facebook.html color="#fff" %}

			 </a>
			</li>

			<li><a title="YouTube" rel="noopener noreferrer" href="https://www.youtube.com/channel/UCPVvRPiFsm6EYWmPA59OEoA" target="_blank">
				
				{% include icons/youtube.html color="#fff" %}

			</a></li>

		</ul>
	</div>

	<div>
		<h3>Info & support</h3>
		<ul>
			<li>
				<a href="https://www.youtube.com/channel/UCPVvRPiFsm6EYWmPA59OEoA" rel="noopener noreferrer" target="_blank">Videos</a>
			</li>
			<li>
				<a href="/manual/introduction.html">Manual</a>
			</li>
			<li>
				<a href="/manual/faq.html">FAQ</a>
			</li>
			<li>
				<a href="/chat.html">Chat support</a>
			</li>
			<li>
				<br />
				<a title="Sitesearch" href="/search.html">
				 {% include icons/search-sm.html color="#fff" %}
				</a>
			</li>
		</ul>
	</div>

	<div>
		<h3>News</h3>
		<ul>
			<li><a href="/blog.html">Blog</a></li>
			<li><a href="/feeds/atomfeed.xml">Atom feed</a></li>
			<li><a href="/feeds/xmlfeed.xml">RSS feed</a></li>
		</ul>
	</div>

	<div>
		<h3>Info</h3>
		<ul>
			<li>
				<a href="/acknowledgements.html">Acknowledgements</a>
			</li>
			<li><a href="/dataprotection.html">Dataprotection</a></li>
			<li><a href="/impressum.html">Impressum</a></li>
			<li>
				<a href="/termsofservice.html">Terms of Service</a>
			</li>
			<li><a href="/contact.html">Contact</a></li>
		</ul>
		<br />
		<span>&copy; {{ site.time | date: '%Y' }} Grabbeltuch</span>
	</div>

</footer>