<meta name="Content-Type" value="text/html; charset=utf-8" />

<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
<meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

{% if page.categories %}
<meta name="keywords" content="{{page.categories | join: ','}}" >
{% else %}
<meta name="keywords" content="{{site.keywords | join: ','}}" >
{% endif %}
<link rel="manifest" href="/manifest.webmanifest">
<meta name="author" content="Grabbeltuch GmbH">
<meta name="robots" content="noodp, noydir,{{page.index}}INDEX,{{page.follow}}FOLLOW" >
<link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
<link rel='index' title='Grabbeltuch' href='https://grabbeltuch.com/' >

<link rel="stylesheet" href="/outdatedbrowser/outdatedbrowser.min.css">

<!-- feeds -->
<!-- http://www.atomenabled.org/developers/protocol/ -->
<link rel="alternate" type="application/x.atom+xml" title="Grabbeltuch Atom feed" href="/feeds/atomfeed.xml" />
<!-- http://www.rssboard.org/rss-specification -->
<link rel="alternate" type="application/rss+xml" title="Grabbeltuch RSS feed" href="/feeds/xmlfeed.xml" />
{% for category in site.categories %}
<link rel="alternate" type="application/x.atom+xml" title="Grabbeltuch - {{ category | first }}" href="/feeds/{{ category | first }}.xml" />
{% endfor %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="author" title="Kontakt" href="mailto:contact%40grabbeltuch.com">
<link rel="author" href="{{"/humans.txt" | prepend: site.baseurl_root }}" type="text/plain">
{% include icons.html %}
<link rel="stylesheet" type="text/css" href="{{ "/styles/style.css" | prepend: site.baseurl_root }}" />
{% include twitter.html title="Grabbeltuch" description="Easy Productivity" image="images/grabbeltuchlogoSmall.png" %}
{% include facebook.html title="Grabbeltuch" type="website" site="https://grabbeltuch.com" image="images/grabbeltuchlogoSmall.png" %}

{% if page.tipue_search_active or layout.tipue_search_active %}
<link rel="stylesheet" href="{{ "/assets/tipuesearch/css/normalize.css" | relative_url }}">
<script src="/scripts/jquery-3.2.1.min.js"></script>
<script src="{{ "/assets/tipuesearch/tipuesearch_content.js" | relative_url }}"></script>
<link rel="stylesheet" href="{{ "/assets/tipuesearch/css/tipuesearch.css" | relative_url }}">
<script src="{{ "/assets/tipuesearch/tipuesearch_set.js" | relative_url }}"></script>
<script src="{{ "/assets/tipuesearch/tipuesearch.min.js" | relative_url }}"></script> {% endif %}
