<link rel="apple-touch-icon" href="{{ "/images/touch-icon-iphone-60x60.png" | prepend: site.baseurl_root }}">
<link rel="apple-touch-icon" sizes="60x60" href="{{ "/images/touch-icon-ipad-76x76.png" | prepend: site.baseurl_root }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ "/images/touch-icon-iphone-retina-120x120.png" | prepend: site.baseurl_root }}">
<link rel="apple-touch-icon" sizes="144x144" href="{{ "/images/touch-icon-ipad-retina-152x152.png" | prepend: site.baseurl_root }}">
<link rel="icon" href="{{ "/images/grabbeltuchlogoSmall.png" | prepend: site.baseurl_root }}" type="image/png">
<link rel="shortcut icon" href="{{ "/images/grabbeltuchlogoSmall.png" | prepend: site.baseurl_root }}" type="image/png">