<section style="background-color:#ab0068">

	<div class="sectionGrid">

		{% include block.html title="The Complete Picture" icon="icons/complete.html" content="Grabbeltuch is an web application
		which gives a complete picture of your projects by collecting all information into one place.
		<br>
		<br>Grabbeltuch manages documents, notes, tasks, appointments, timesheets and customer information (CRM) and kombines them
		to give you a complete picture." %} {% include block.html title="Find Everything, Easy and Fast" icon="icons/search.html"
		content="An advanced search and smart shortcuts and tags makes finding the right document or note easy and fast.
		<br>
		<br>Using tags you can combine all kinds of information and access them easily later on." %} {% include block.html title="Easy
		Billing" icon="icons/euro.html" content="Grabbeltuchs built in CRM features, timesheets and tasks combine to make keeping
		track of billing easy and automatic." %} {% include block.html title="Easy integrations" icon="icons/integrations.html"
		content="Grabbeltuch makes integrating with other systems easy. All can be exported as CSV files both automaticly and manually.
		Importing data is just as easy." %}

	</div>

</section>

<section style="background-color:#3e6c61">
	<h2>Features</h2>
	<br>
	<div class="sectionGrid">

		{% include block.html title="Find your cloud documents!" icon="icons/search.html" link="/manual/documents.html" content="Grabbeltuch
		searches your cloud storage and can find your documents on multiple cloud storage providers at the same time. Favorites,
		file history and pinned files make it even easier to find your files." %} {% include block.html title="Calendar" icon="icons/calendar.html"
		link="/manual/calendars.html" content="Grabbeltuch includes a very flexible calendar which integrates with various web
		calendar formats. Appointments are viewable in a day view, week view, month view and year view." %} {% include block.html
		title="Project / Tags" icon="icons/tags.html" content=" It is often useful to organise data into groups or projekts. In
		Grabbeltuch this is done using tags. Tags can be applied to all data in Grabbeltuch and selecting a tag will show everything
		with that particular tag. This makes it very easy to find and access all relevant data for the task at hand." %} {% include
		block.html title="Notes" icon="icons/document.html" link="/manual/notes.html" content="Create as many notes as you want
		using a very intuitive and simple editor which supports the markdown format." %} {% include block.html title="Tasks" icon="icons/sliders.html"
		link="/manual/tasks.html" content="Create tasks and subtasks and keep track of progress." %} {% include block.html title="Timesheets"
		icon="icons/clock.html" link="/manual/timesheets.html" content="Keep track of the time you spend on task and create timesheets
		which can form the basis of billing. Timesheets can be exported as PDF documents and Excel/CSV files." %} {% include block.html
		title="CRM" icon="icons/card.html" link="/manual/crm.html" content="Keep track of your customers contact details and leeds
		using Grabbeltuchs customer relationship management." %}

	</div>
</section>

<section style="background-color:#87a991">

	<h2>Easy Integrations</h2>
	<br>
	<div class="sectionGrid">

		{% include block.html title="Cloud storage" icon="icons/cloud.html" link="/manual/cloudstorage.html" content=" Grabbeltuch
		uses cloud storage to store your documents. Several cloud sotrage providers are supported and you can integrate them all
		at same time and in the same account.
		<br>
		<br>Grabbeltuch will search through all storage associated with the account." %} {% include block.html title="Calendar" icon="icons/calendar.html"
		link="/manual/integrations.html" content=" Grabbeltuch has its own calendar which can import appointments from shared calendars.
		Grabbeltuch supports the iCalendar format used by all major systems." %} {% include block.html title="Create items using
		email" icon="icons/at.html" link="/manual/integrations.html" content="Items like tasks, notes and appointments can be added
		by sending them as email to a special email address that is associated with your account.
		<br>
		<br>This enables easy integration with email clients and easy conversion received emails into tasks or notes." %} {% include
		block.html title="Data export" icon="icons/data.html" link="/manual/integrations.html" content="All data contained in Grabbeltuch
		can be exported easily. Both all combined or as separate items.
		<br>
		<br>Extensive filtering options make it easy to tailor the dataexport to your needs." %} {% include block.html title="Data
		import" icon="icons/data.html" link="/manual/integrations.html" content="Notes, timesheets, todos, and documents can be
		imported. Timesheets and todos are imported as Excel or CSV files and the import quality depends on the correctness of
		the source format." %}

	</div>
</section>

<section style="background-color:#3e6c61">

	<h2>No hassle account</h2>
	<br>
	<div class="sectionGrid">

		{% include block.html title="One account type" icon="icons/checkbox.html" content="You don't have to choose an account type.
		There is ony one account type and only one price. You get all functionality, no extensions or modules needed and no premium
		account." %} {% include block.html title="Monthly Payment" icon="icons/okcalendar.html" content="An account is paid on
		a monthly basis and can be closed every month. A closed account will continue to work until the end of the month it was
		closed. Afterwards it will no longer be possible to use the system. Accounts can be renewed at any time until a month after
		the account was closed, at which point the account will be deleted." %} {% include block.html title="Easy Payment" icon="icons/creditcard.html"
		content="Payment can be done several different methods and the customer chooses freely among them.
		<br>" %} {% include block.html title="No Data Lock-in" icon="icons/data.html" content="All the data associated with the account
		can be exported at all times and very easily. The data is exported in a format that is readable and accessable and can
		be read by many other systems." %} {% include block.html title="Backup and Restore" icon="icons/docs.html" link="/manual/backup.html"
		content="The data export is also a usefull backup tool. Grabbeltuch can read and import an exported file back into the
		system and thus restore the previous state." %} {% include block.html title="Complete Removal" icon="icons/delete.html"
		content="The data associated with a closed account will be deleted automaticly a month after the account is closed. The
		user can also choose to delete the data immediately at any time and in one operation." %}

	</div>
</section>

<section style="background-color:#87a991">
	<div class="sectionGrid">

		{% include block.html title="Try now for free!" icon="icons/gift.html" content=" Try Grabbeltuch for free for a month. All
		functions are available.
		<br> After a month your account will be disabled and after another month the account will be deleted automaticly.
		<br>
		<br>
		<br>
		<br>
		<a class='button' href='/newAccount-form.html'>Try for free</a>
		<br>" %} {% include block.html title="Video Introduction" icon="icons/video.html" link="https://www.youtube.com/channel/UCPVvRPiFsm6EYWmPA59OEoA"
		content=" View a video introduction which demonstrates all major features in Grabbeltuch and follow up by watching small
		clips which demonstrate one feature at a time." %} {% include block.html title="More!" icon="icons/book.html" link="/manual/introduction.html"
		content="Learn more about Grabbeltuch by reading the extensive documentation, with detailed walkthroughs and practical
		examples." %}

	</div>
</section>